git lfs track "*.fbx"
git lfs track "*.anim"
git lfs track "*.controller"
git lfs track "*.unity"
git lfs track "*.prefab"
git lfs track "*.asset"
git lfs track "*.png"
git lfs track "*.jpg"
git lfs track "*.wav"
git lfs track "*.mp4"
git lfs track "*.blend"
git lfs track "*.zip"